@charset "ISO-8859-1";
@import url(./style.css);

button a{
	text-decoration: none;
}
#modificarBtn > a{
  color: #000 !important;
}
#eliminarBtn > a{
  color: #fff !important;
}

.lead-socios{
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #79C19F;
  border-radius: 10px;
  box-shadow: 2px 1px 2px grey, 1px 0 1px #79C19F;
  background-color: #79C19F;
}

.lead-sociosLista {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #4a88e6;
  border-radius: 10px;
  box-shadow: 2px 1px 2px grey, 1px 0 1px #4a88e6;
  background-color: #4a88e6;
  font-weight: bold;
}
.side-navbar > ul > li > a:hover {
  color: #FDD306 !important;
}